/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.numbers{
  margin-right:30px;
}

.img_avatar{
  width:200px;
  height:200px;
}

span{
  display: block;
}

.headers{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}