<!DOCTYPE html>
        <html>
            <body>
                <p>Enter your data:</p>
                <form method="post" action="/results">
                    <p>Enter your github login:</p>
                    <p><input name="log" /></p>
                    <p>Enter your github password:</p>
                    <p><input name="pswd" /></p>
                    <p>Enter login of user you want information about:</p>
                    <p><input name="user1" /></p>
                    <p>Enter number of steps:</p>
                    <p><input name="x" /></p>
                    <p><input type="submit" name="Start" value="Start" /></p>
                </form>
            </body>
        </html>